/* Font Definitions for PP Neue Machina */
@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainUltralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainUltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainSemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainUltrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainUltraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-PlainBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Font Definitions for Inktrap */
@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapUltralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapUltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapSemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapUltrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapUltraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('./fonts/minigame font/PPNeueMachina-InktrapBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Sora Font */
@font-face {
  font-family: 'Sora';
  src: url('./fonts/Sora-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 